<h1>
  Admin
</h1>
<div class="col-lg-12 float-left">
  <form name="form" (ngSubmit)="searchTicket()" #t="ngForm" class="form-inline">
    <select name="department" [(ngModel)]="admin.department" class="form-control col-lg-2">>
      <option value="0">--All--</option>
      <option *ngFor="let dep of departments" value={{dep}}>
        {{dep}}
      </option>
    </select>
    <button class="btn btn-primary col-lg-1">Search</button>
  </form>
</div>
<div class="col-lg-2 float-right"><a href="/login">Logout</a></div>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Assignee</th>
    <th>Department</th>
    <th>CreatedDate</th>
    <th>Created By</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let ticket of ticketlist">
    <td>{{ticket.id}}</td>
    <td>{{ticket.title}}</td>
    <td>{{ticket.assignee}}</td>
    <td>{{ticket.department}}</td>
    <td>{{ticket.createDate}}</td>
    <td>{{ticket.createdBy}}</td>
    <td>{{ticket.status}}</td>
  </tr>
  </tbody>
</table>

